<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <% const {course, contributors} = htmlWebpackPlugin.options %>
        <h1>
            <%= course %>
        </h1>
        <ul>
            <% _.forEach(contributors, c => { %>
            <li>
                <%- c %>
            </li>
            <% }) %>
        </ul>
        <div id="app1"></div>
        <div id="app2"></div>
</body>

</html>